@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-metropolis), sans-serif;
  --font-heading: var(--font-century-gothic), sans-serif;
  --font-body: var(--font-metropolis), sans-serif;
  --font-mono: var(--font-metropolis);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.1296 0.0274 261.6924);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1296 0.0274 261.6924);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1296 0.0274 261.6924);
  --primary: oklch(0.3679 0.2061 264.6603);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9454 0.0246 275.9118);
  --secondary-foreground: oklch(0.3293 0.1798 264.6558);
  --muted: oklch(0.9197 0.004 286.3202);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.9426 0.022 300.1991);
  --accent-foreground: oklch(0.4402 0.1871 289.4956);
  --destructive: oklch(0.807 0.1452 65.6422);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9197 0.004 286.3202);
  --input: oklch(1 0 0);
  --ring: oklch(0.3679 0.2061 264.6603);
  --chart-1: oklch(0.8572 0.0547 298.1418);
  --chart-2: oklch(0.8277 0.0664 297.5998);
  --chart-3: oklch(0.6011 0.1598 294.3181);
  --chart-4: oklch(0.5088 0.1951 290.9654);
  --chart-5: oklch(0.4402 0.1871 289.4956);
  --sidebar: oklch(0.9454 0.0246 275.9118);
  --sidebar-foreground: oklch(0.1296 0.0274 261.6924);
  --sidebar-primary: oklch(0.8926 0.0491 273.9874);
  --sidebar-primary-foreground: oklch(0.2917 0.1573 264.7289);
  --sidebar-accent: oklch(0.9426 0.022 300.1991);
  --sidebar-accent-foreground: oklch(0.4402 0.1871 289.4956);
  --sidebar-border: oklch(0.9197 0.004 286.3202);
  --sidebar-ring: oklch(0.3679 0.2061 264.6603);
}

.dark {
  --background: oklch(0.2161 0.0061 56.0434);
  --foreground: oklch(0.9699 0.0013 106.4238);
  --card: oklch(0.2685 0.0063 34.2976);
  --card-foreground: oklch(0.9699 0.0013 106.4238);
  --popover: oklch(0.2685 0.0063 34.2976);
  --popover-foreground: oklch(0.9699 0.0013 106.4238);
  --primary: oklch(0.5054 0.1905 27.5181);
  --primary-foreground: oklch(0.9779 0.0042 56.3756);
  --secondary: oklch(0.4732 0.1247 46.2007);
  --secondary-foreground: oklch(0.9619 0.058 95.6174);
  --muted: oklch(0.2685 0.0063 34.2976);
  --muted-foreground: oklch(0.8687 0.0043 56.366);
  --accent: oklch(0.5553 0.1455 48.9975);
  --accent-foreground: oklch(0.9619 0.058 95.6174);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3741 0.0087 67.5582);
  --input: oklch(0.3741 0.0087 67.5582);
  --ring: oklch(0.5054 0.1905 27.5181);
  --chart-1: oklch(0.7106 0.1661 22.2162);
  --chart-2: oklch(0.6368 0.2078 25.3313);
  --chart-3: oklch(0.5771 0.2152 27.325);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.7686 0.1647 70.0804);
  --sidebar: oklch(0.2161 0.0061 56.0434);
  --sidebar-foreground: oklch(0.9699 0.0013 106.4238);
  --sidebar-primary: oklch(0.5054 0.1905 27.5181);
  --sidebar-primary-foreground: oklch(0.9779 0.0042 56.3756);
  --sidebar-accent: oklch(0.5553 0.1455 48.9975);
  --sidebar-accent-foreground: oklch(0.9619 0.058 95.6174);
  --sidebar-border: oklch(0.3741 0.0087 67.5582);
  --sidebar-ring: oklch(0.5054 0.1905 27.5181);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
